.beer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      flex: 5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .toolbar {
      display: flex;
      justify-content: flex-end;
      flex: 3;
    }
  }

  .description {
    display: flex;
    > summary {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  }
}
