<router-outlet></router-outlet>
<div class="beers-root">
  <div class="beer-edit">
    <app-beer-edit (addBeer)="onAddBeer($event)" (updateBeer)="onUpdateBeer($event)" [beer]="selectedBeerForEdit"></app-beer-edit>
  </div>
  <div class="beers" *ngIf="beers$ | async as beersAsync">
    <app-card-list [cardTemplate]="beerTpl" [data]="beersAsync"></app-card-list>
    <ng-template #beerTpl let-beer>
      <app-beer [beer]="beer" (beerDelete)="onDeleteBeer($event)" (beerEdit)="onEditBeer($event)"></app-beer>
    </ng-template>
  </div>
</div> 

